body {
    font-family: 'Segoe UI', 'wf_segoe-ui_normal', helvetica, arial, sans-serif;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
    margin: 0;
}

input::-webkit-input-placeholder {
    font-style: italic;
}

input::-moz-placeholder {
    font-style: italic;
}

input:-moz-placeholder {
    font-style: italic;
}

input:-ms-input-placeholder {
    font-style: italic;
}

* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
